<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Cache-Control" content="no-store" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<title>群组管理</title>
		<!-- load css -->
		<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" media="all" />
		<link rel="stylesheet" type="text/css" th:href="@{/js/jquery/sweetalert2/sweetalert2.min.css}" media="all" />
		<link rel="stylesheet" type="text/css" th:href="@{/dataTables/media/css/jquery.dataTables.css}" media="all" />
	</head>
	
	<body>
	
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
			<legend><i class="layui-icon">&#xe62a;</i>&nbsp;群组管理</legend>
			<br/>
			<div style="margin-left: 50px">
				<button id="addGroup" class="layui-btn" onclick="location.href='toAddGroup.do';">新增群组信息</button>
				<button id="groupTopology" class="layui-btn layui-btn-normal" onclick="location.href='toGroupTopology.do';">显示群组拓扑</button>
			</div>
			<br/>
		</fieldset>
	
		<div class="layui-collapse">
			<div class="layui-colla-item">
				<h2 class="layui-colla-title"><i class="layui-icon">&#xe62d;</i>&nbsp;群组列表</h2>
				<div class="layui-colla-content layui-show">
					<table id="table_group" class="display cell-border" style="text-align: center;">
						<colgroup>
							<col width="20">
							<col width="100">
							<col width="300">
							<col width="20">
							<col width="50">
						</colgroup>
						<thead>
							<tr>
								<th>组ID</th>
								<th>组名</th>
								<th>组描述</th>
								<th>组状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="layui-collapse">
			<div class="layui-colla-item">
				<h2 id="detail_click_id" class="layui-colla-title"><i class="layui-icon">&#xe60b;</i>&nbsp;组内成员</h2>
				<div id="detail_content" class="layui-colla-content">
					<blockquote class="layui-elem-quote">单击列表中组名显示组内成员</blockquote>
					<table id="table_detail" class="cell-border" style="text-align: center;">
						<colgroup>
							<col width="20">
							<col width="50">
							<col width="20">
							<col width="20">
							<col width="100">
							<col width="100">
						</colgroup>
						<thead>
							<tr>
								<th>ID</th>
								<th>姓名</th>
								<th>性别</th>
								<th>年龄</th>
								<th>电话</th>
								<th>邮箱</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

		<script type="text/javascript" charset="utf8" th:src="@{/js/jquery/jquery-2.2.4.js}"></script>
		<script type="text/javascript" charset="utf8" th:src="@{/layui/layui.js}"></script>
		<script type="text/javascript" charset="utf8" th:src="@{/js/jquery/sweetalert2/sweetalert2.min.js}"></script>
		<script type="text/javascript" charset="utf8" th:src="@{/dataTables/media/js/jquery.dataTables.js}"></script>
		<script>
			layui.use(['element'], function(){
				var $ = layui.jquery
				, element = layui.element;
				
			});
			
			$(document).ready(function () {
				
				// 构建用户列表dataTable
				var defaultDetailId = 1;
				var userListDataTable = $('#table_group').DataTable({
					"processing": false,
					"serverSide": false,
					"autoWidth": false,
					"ajax": {
						"url": "/user/group/queryAll.do",
						"type": "POST",
						"dataSrc": "groupList"
					},
					"columns": [
						{ "data": "id" },
						{ "data": "name" , "render": function(data, type, full, meta){
							return '<a title="显示详细信息" class="detailLink" ref="' + full.id +'" href="#" onclick="showDetail(this)">' + data + '</a>';
						} },
						{ "data": "desc" },
						{ "data": "status" },
						{ "data": "id", "render": function(data, type, full, meta){
							if(meta.row == 0){ // 默认获取当前页第一行的用户id
								defaultDetailId = data;
							}
							return '<a title="修改" class="updateLink" href="/user/group/toUpdateGroup.do?id=' + data + '"><i class="layui-icon">&#xe642;</i></a>\
							| <a title="配置" class="modifyLink" href="/user/group/toModifyGroup.do?id=' + data + '&name=' + full.name + '"><i class="layui-icon">&#xe613;</i></a>\
							| <a title="删除" class="deleteLink" ref="' + data +'" href="#" onclick="doDelete(this)"><i class="layui-icon">&#xe640;</i></a>';
						} }
					]
				});
				
				// 构建组员详细信息dataTable
				var userDetailDataTable = $('#table_detail').DataTable({
					"processing": false,
					"serverSide": false,
					"autoWidth": false,
					"ajax": {
						"url": "/user/queryByGroupId.do",
						"type": "POST",
						"data": {"id": defaultDetailId},
						"dataSrc": "groupMember"
					},
					"columns": [
						{ "data": "id" },
						{ "data": "name" },
						{ "data": "sex" },
						{ "data": "age" },
						{ "data": "phone" },
						{ "data": "email" }
					]
				});
				
				// 异步刷新详细信息table
				showDetail = function(obj) {
					// 获取id并异步刷新table
					var id = $(obj).attr("ref");
					var param = {"id": id};
					userDetailDataTable.settings()[0].ajax.data = param;
					userDetailDataTable.ajax.reload();
					
					// 打开详细信息面板
					var attrClass = $("#detail_content").attr("class");
					if(attrClass.indexOf("layui-show") == -1){
						$("#detail_click_id").click();
					}
				}
				
				// 删除方法
				doDelete = function(obj){
					var id = $(obj).attr("ref");
					swal({
						title: '删除确认',
						type: 'question',
						text: '请再次确认是否要删除该群组？',
						showCancelButton: true,
						confirmButtonText: '提交',
						cancelButtonText: '取消',
					}).then(function(isConfirm) {
						if (isConfirm === true) {
							$.ajax({
								url: "/user/group/doDeleteGroup.do",
								type: "GET",
								data: {"id": id},
								dataType: "json",
								success: function(res){
									swal({
										title: res.deleteResult,
										text: res.deleteResult == "删除成功！" ? "确认后将返回群组管理主页面" : res.reason,
										type: res.deleteResult == "删除成功！" ? "success" : "error",
										showCancelButton: true,
										confirmButtonColor: "#DD6B55",
										confirmButtonText: "确认",
										cancelButtonText: "取消"
									}).then(function(isConfirm){
										location.href='/user/group/toGroup.do';
									});
								},
								error: function(jqXHP,textStatus,errorThrown){
									swal({
										title: "错误",
										text: "网络或后台错误",
										type: "error",
										confirmButtonColor: "#DD6B55",
										confirmButtonText: "确认"
									});
								}
							});
							
						} else {}
					});
				}
			});
			
			
		</script>
	
	</body>
	
</html>